{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Manage Tests</h2>
    <ul class="list-group">
        {% for test in tests %}
        <li class="list-group-item">
            <h5>{{ test.test_name }}</h5>
            <p>{{ test.test_description }}</p>
            <a href="/edit_test/{{ test.id }}" class="btn btn-secondary">Edit</a>
            <form action="/delete_test/{{ test.id }}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a href="/test/{{ test.id }}/questions" class="btn btn-primary">Manage Questions</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
